.vscode/**
.vscode-test/**
.git/**
.nexus/**
src/**
out/test/**
local-ai-vscode/**
*.zip
*.bat
*.ps1
*.vsix
.gitignore
tsconfig.json
**/*.map
**/*.ts
node_modules/**
Arquivos_md/**
scripts/**
vitest.config.*
out/**/*.test.js
*.txt
!LICENSE.txt
*.md
!README.md
!CHANGELOG.md
!icon.png
